<!-- ******About Us LIST****** --> 
<div class="blog container">
      <h1 class="title">About Us</h1>
         <div class="row">
              <div class="col-md-6">  
                 
                        
                          <img class="img-responsive" src="assets/images/people/mdonahue-2.jpg" alt=""/>
                  
                      <div class="content">
                            <h3 class="post-title"><a href="blog-single-2.html">Matt Donahue - Founder</a></h3>
                          
                            <div class="post-entry">
                            <p>Upon graduating from Wesleyan University this past May with a double major in Psychology & Neuroscience, Matt has since joined the working world as a business analyst at Kantar Retail, a market research and consultancy firm based in Wilton, CT. In his seemingly unlimited "spare time," Matt co-founded SkillEd, the very online hub for professional skill development you are visiting now, and is currently working on a career development and mentoring platform alongside his partner in crime, Romi Lassally. All work aside, Matt enjoys, photoshoping his co-workers into ridiculous portraitures, cooking, and surfing the interwebs.</p>
                            </div>
                        </div>
                       
                        </div>
                    
                    
                <div class="col-md-6"> 
                    
                            
                            <img class="img-responsive" src="assets/images/people/romi.jpg" alt="" />
                        
                        <div class="content">
                            <h3 class="post-title"><a href="blog-single-2.html">Romi Lassally - Co-Founder</a></h3>
                            <div class="post-entry">
                            <p>Romi embodies the true definition of serial "momtrepreneur." Over the course of her career, Romi has worked more than a decade as an executive producer in the entertainment industry, raised three beautiful children, and has founded multiple ventures. Most notably, Romi launched truuconfessions.com, an online community for women to share their most embarrassing and edifying parenting stories and secrets, wrote the True Mom Confessions book series, co-hosted the abcnewsnow weekly show, and established herself as a founding editor of the Lifestyles section of the Huffington Post. </p><br>
                            </div>
                        </div>
                    </div>
                        
                        
            <div class="row">
                 <div class="col-md-6"> 
                   
                            
                            <img class="img-responsive" src="assets/images/people/edgar.jpg" alt="" />
                        
                        <div class="content">
                            <h3 class="post-title"><a href="blog-single-2.html">Edgar Pliaskis - Community Director</a></h3>
                            <div class="post-entry">
                            <p>During his time at Wesleyan Univeristy Edgar was known on campus at the IT dude and he carries on the legacy to this day. Upon graduating this past May with a double major in Economics and Italian Studies, Edgar has joined the ranks of ServiceNow as a Remote Services Consultant. Aside from nerding out over wireless connections, cloud computing, and the such, Edgar is all about those human connections. As such, he has recently joined our team as our first community director.</p><br>
                            </div>
                       </div>
                    </div>
                        
                    
                   <div class="col-md-6"> 
                    
                         
                            <img class="img-responsive" src="assets/images/people/katya-2.jpg" alt="" />
                        
                        <div class="content">
                            <h3 class="post-title"><a href="blog-single-2.html">Katya Sapozhnina - Business Intern</a></h3>
                            <div class="meta">
                                <ul class="meta-list list-inline">                                       
                            <div class="post-entry">
                            <p>As a current junior at Wesleyan University majoring in Economics, Katya currently balances a full courseload with a variety of leadership positions on campus. Most notably, Katya founded (WES)<sup>2</sup> in January 2013 when she realized that Wesleyan was the perfect environment for ideation and innovation, yet lacked a prominent entrepreneurship culture. This upcoming spring semester, she will be co-leading a for-credit student forum on entrepreneurship for the second time.</p><br>
                           </div>
                      
                       </div>
                   </div>
                        </div>
                   <br>
                
               
            </div><!--//row-->
        </div>