<!-- ******BLOG LIST****** --> 
  <div class="blog container">
      <h2 class="title">Blog</h2>
         <div class="row">
              <div id="blog-list" class="blog-list section col-md-8 col-sm-8 col-xs-12">
                  <article class="post">
                      <div class="post-thumb">
                          <img class="img-responsive" src="assets/images/posts/post-1.jpg" alt="" />
                      </div><!--//post-thumb-->
                      <div class="content">
                            <h3 class="post-title"><a href="blog-single-2.html">A Tale of Two Cities</a></h3>
                          <div class="meta">
                              <ul class="meta-list list-inline">                                       
                                <li class="post-time post_date date updated">25th May, 2014</li>
                                <li class="post-author"> by <a href="#">Admin</a></li>
                                <li class="post-comments-link">
                                    <a href="blog-single-2.html#comment-area"><i class="fa fa-comments"></i>8 Comments</>
                                </li>
                              </ul><!--//meta-list-->                             
                            </div><!--meta-->
                            <div class="post-entry">
                            <p>IT WAS the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
                            <a class="read-more" href="blog-single-2.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </article><!--//post-->
                    
                    <article class="post">
                        <div class="post-thumb">
                            <img class="img-responsive" src="assets/images/posts/post-2.jpg" alt="" />
                        </div><!--//post-thumb-->
                        <div class="content">
                            <h3 class="post-title"><a href="blog-single-2.html">Another Tale</a></h3>
                            <div class="meta">
                                <ul class="meta-list list-inline">                                       
                                  <li class="post-time post_date date updated">16th May, 2014</li>
                                  <li class="post-author"> by <a href="#">Admin</a></li>
                                  <li class="post-comments-link">
                                      <a href="blog-single-2.html#comment-area"><i class="fa fa-comments"></i>3 Comments</a>
                                  </li>
                              </ul><!--//meta-list-->                             
                            </div><!--meta-->
                            <div class="post-entry">
                            <p>IT WAS the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
                            <a class="read-more" href="blog-single-2.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </article><!--//post-->
                    
                    <article class="post">
                        <div class="post-thumb">
                            <img class="img-responsive" src="assets/images/posts/post-3.jpg" alt="" />
                        </div><!--//post-thumb-->
                        <div class="content">
                            <h3 class="post-title"><a href="blog-single-2.html">The Original Rendition</a></h3>
                            <div class="meta">
                                <ul class="meta-list list-inline">                                       
                                  <li class="post-time post_date date updated">22th April, 2014</li>
                                  <li class="post-author"> by <a href="#">Admin</a></li>
                                  <li class="post-comments-link">
                                      <a href="blog-single-2.html#comment-area"><i class="fa fa-comments"></i>2 Comments</a>
                                  </li>
                              </ul><!--//meta-list-->                             
                            </div><!--meta-->
                            <div class="post-entry">
                            <p>IT WAS the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
                            <a class="read-more" href="blog-single-2.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </article><!--//post-->
                    
                    <article class="post">
                        <div class="post-thumb">
                            <img class="img-responsive" src="assets/images/posts/post-4.jpg" alt="" />
                        </div><!--//post-thumb-->
                        <div class="content">
                            <h3 class="post-title"><a href="blog-single-2.html">A Tale of Two Cities</a></h3>
                            <div class="meta">
                                <ul class="meta-list list-inline">                                       
                                  <li class="post-time post_date date updated">12th April, 2014</li>
                                  <li class="post-author"> by <a href="#">Admin</a></li>
                                  <li class="post-comments-link">
                                      <a href="blog-single-2.html#comment-area"><i class="fa fa-comments"></i>4 Comments</a>
                                  </li>
                              </ul><!--//meta-list-->                             
                            </div><!--meta-->
                            <div class="post-entry">
                            <p>IT WAS the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
                            <a class="read-more" href="blog-single-2.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </article><!--//post-->
                    
                    <article class="post">
                        <div class="post-thumb">
                            <img class="img-responsive" src="assets/images/posts/post-5.jpg" alt="" />
                        </div><!--//post-thumb-->
                        <div class="content">
                            <h3 class="post-title"><a href="blog-single-2.html">Blog The Last</a></h3>
                            <div class="meta">
                                <ul class="meta-list list-inline">                                       
                                  <li class="post-time post_date date updated">3th April, 2014</li>
                                  <li class="post-author"> by <a href="#">Admin</a></li>
                                  <li class="post-comments-link">
                                      <a href="blog-single-2.html#comment-area"><i class="fa fa-comments"></i>1 Comment</a>
                                  </li>
                              </ul><!--//meta-list-->                             
                            </div><!--meta-->
                            <div class="post-entry">
                            <p>IT WAS the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
                            <a class="read-more" href="blog-single-2.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </article><!--//post-->
                    <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul><!--//pagination-->
                </div><!--//blog-list-->
                
                <aside id="blog-sidebar" class="blog-sidebar col-md-3 col-sm-4 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <section class="widget search">
                        <form class="search-blog-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search blog...">
                            </div>
                            <button type="submit" class="btn btn-cta btn-cta-primary"><i class="fa fa-search"></i></button>
                        </form>
                    </section><!--//search-->
                    <section class="widget social">
                        <h3 class="title">Get Connected</h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss-square"></i></a></li>
                        </ul>
                    </section><!--//widget-->
                    <section class="widget categories">
                        <h3 class="title">Categories</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">News</a></li>
                            <li><a href="#">Stories</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Business</a></li>
                        </ul>
                    </section><!--//widget-->
                    <section class="widget archives">
                        <h3 class="title">Archives</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">June 2014 <span class="count">(3)</span></a></li>
                            <li><a href="#">May 2014 <span class="count">(5)</span></a></li>
                            <li><a href="#">April 2014 <span class="count">(4)</span></a></li>
                            <li><a href="#">March 2014 <span class="count">(2)</span></a></li>
                        </ul>
                    </section><!--//widget-->
                    <section class="widget recent-posts">
                        <h3 class="title">Recent Posts</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Blog meets blog</a><br /><span class="date">22 May 2014</span></li>
                            <li><a href="#">Blogs on blogs on blogs</a><br /><span class="date">16 May 2014</span></li>
                            <li><a href="#">The tale of the lonely blog </a><br /><span class="date">12 May 2014</span></li>
                            <li><a href="#">Another, Another, Another Blog</a><br /><span class="date">27 April 2014</span></li>
                            <li><a href="#">Blog the Last</a><br /><span class="date">6 April 2014</span></li>
                        </ul>
                    </section><!--//widget-->
                </aside><!--//blog-side-bar-->               
            </div><!--//row-->
        </div><!--//blog-->