<!-- ******CONTACT MAIN****** --> 
  <section id="contact-main" class="contact-main section">
        <div class="container text-center">
           <h2 class="title">Get in touch</h2>
           <p class="intro">Whether you are interested in becoming a partner institution or would like your skill educational resources featured in our library, we'd love to hear from you.</p>
                <div class="row">
                  <div class="item col-md-4 col-sm-12 col-xs-12">
                        <div class="item-inner">
                          <div class="icon">
                               <i class="fa fa-envelope"></i>
                           </div>
                            <div class="details">
                               <h4>Email us at:</h4>
                                <p><a href="#">mdonahue@wesleyan.edu/a></p>
                          </div><!--details-->
                      </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-md-4 col-sm-12 col-xs-12">
                        <div class="item-inner">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="details">
                                <h4>Call us on:</h4>
                                <p class="phone">860-908-5334</p>
                                <p class="day">Mon-Fri 9am-5pm (EST)</p>
                            </div><!--details-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-md-4 col-sm-12 col-xs-12 last">
                            <div class="item-inner">
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="details">
        <h4>Find us online:</h4>
                                <p class="address">Facebook<br />Twitter</p>
                            </div><!--details-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-->      