<!-- ******PRICE PLAN****** --> 
<section id="price-plan" class="price-plan section">
  <div class="container text-center">
   <h2 class="title">Join SkillEd as an Early Adopter and Save!</h2>
                <p class="intro">SkillEd's standard pricing tiers are priced with the public library, the university, and the career bootcamp in mind. We don't believe in limiting learning and that includes the number of users you pay for. All plans offer an unlimited number of users.</p>
                <div class="price-cols row">
                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <h3 class="heading">Basic</h3>
                        <div class="content">
                            <p class="price-figure"><span class="currency">$</span><span class="number">750</span><span class="unit">/year</span></p>
                            <ul class="list-unstyled feature-list">
                                <li>2 Skill Sets</li>
                                <li>Unlimited Users</li>
                                <li>Email support</li>
                                <li>Monthly Updates</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="mailto:mdonahue@wesleyan.edu?Subject=Basic%20SkillEd%20Inquiry" target="_top">Submit Inquiry <br /><span class="extra"></span></a>
                        </div><!--//content-->
                    </div><!--//item--> 
                    
                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <h3 class="heading">Plus</h3>
                        <div class="content">
                            <p class="price-figure"><span class="currency">$</span><span class="number">1500</span><span class="unit">/year</span></p>
                            <ul class="list-unstyled feature-list">
                                <li>3 Skill Sets</li>
                                <li>Unlimited Users</li>
                                <li>Email priority support</li>
                                <li>Monthly Updates</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="mailto:mdonahue@wesleyan.edu?Subject=Plus%20SkillEd%20Inquiry" target="_top">Submit Inquiry<br /><span class="extra"></span></a>
                        </div><!--//content-->
                    </div><!--//item-->  
                    
                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <h3 class="heading">Premium</h3>
                        <div class="content">
                            <p class="price-figure"><span class="currency">$</span><span class="number">2000</span><span class="unit">/year</span></p>
                            <ul class="list-unstyled feature-list">
                                <li>5 Skill Sets</li>
                                <li>Unlimited Users</li>
                                <li>24/7 support</li>
                                <li>Monthly Updates</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="mailto:mdonahue@wesleyan.edu?Subject=Premium%20SkillEd%20Inquiry" target="_top">Submit Inquiry<br /><span class="extra"></span></a>
                        </div><!--//content-->
                    </div><!--//item-->                     
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//price-plan-->