        <!-- ******FEATURES PROMO****** --> 
        <section id="features-promo" class="features-promo section">
            <div class="bg-mask"></div>
            <div class="container">
                <div class="row">
                    <div class="features-intro col-md-5 col-sm-6 col-xs-12">
                        <h2 class="title">Take a quick tour<br />to see how it works</h2>
                        <ul class="list-unstyled features-list">
                            <li><i class="fa fa-check"></i>Feature one consectetur neque ultrices</li>
                            <li><i class="fa fa-check"></i>Feature two sit amet lacus tincidunt</li>
                            <li><i class="fa fa-check"></i>Feature three sed tincidunt tortor</li>
                            <li><i class="fa fa-check"></i>Feature four ipsum dolor sit amet</li>
                            <li><i class="fa fa-check"></i>Feature five purus imperdiet</li>
                        </ul>
                    </div><!--//intro-->
                    <div class="features-video col-md-7 col-sm-6 col-xs-12 col-xs-offset-0">
                        <div class="video-container">
                            <iframe src="//player.vimeo.com/video/28872840?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>               
                        </div><!--//video-container-->  
                    </div><!--//video-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//features-promo-->
        
        <!-- ******FEATURES****** --> 
        <section id="features" class="features section">
            <div class="container">
                <div class="item row">
                    <div class="content col-md-5 col-sm-5 col-xs-12 pull-right col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
                        <h3 class="title">Feature One...</h3>
                        <div class="details">
                            <p>IT WAS the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
                        </div>
                    </div><!--//content-->
                    <div class="figure col-md-6 col-sm-6 col-xs-12 from-left">
                        <img class="img-responsive" src="assets/images/features/screenshot-1.png" alt="" />
                    </div><!--//figure-->
                </div><!--//item-->
                
                <hr />
                
                <div class="item row">
                    <div class="content col-md-5 col-sm-5 col-xs-12 from-left">
                        <h3 class="title">Feature two...</h3>
                        <div class="details">
                            <p>IT WAS the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
                        </div>
                    </div><!--//content-->
                    <div class="figure col-md-6 col-sm-6 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
                        <img class="img-responsive" src="assets/images/features/screenshot-2.png" alt="" />
                    </div><!--//figure-->
                </div><!--//item-->
                
                 <hr />
                
                <div class="item row">
                    <div class="content col-md-5 col-sm-5 col-xs-12 pull-right col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
                        <h3 class="title">Feature three...</h3>
                        <div class="details">
                            <p>IT WAS the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
                        </div>
                    </div><!--//content-->
                    <div class="figure col-md-6 col-sm-6 col-xs-12 from-left">
                        <img class="img-responsive" src="assets/images/features/screenshot-3.png" alt="" />
                    </div><!--//figure-->
                </div><!--//item-->
                
                 <hr />
                
                <div class="item row">
                    <div class="content col-md-5 col-sm-5 col-xs-12 from-left">
                        <h3 class="title">Feature four...</h3>
                        <div class="details">
                            <p>IT WAS the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
                        </div>
                    </div><!--//content-->
                    <div class="figure col-md-6 col-sm-6 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
                        <img class="img-responsive" src="assets/images/features/screenshot-4.png" alt="" />
                    </div><!--//figure-->
                </div><!--//item-->
                
                 <hr />
                
                <div class="item row">
                    <div class="content col-md-5 col-sm-5 col-xs-12 pull-right col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
                        <h3 class="title">Feature five...</h3>
                        <div class="details">
                            <p>IT WAS the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
                        </div>
                    </div><!--//content-->
                    <div class="figure col-md-6 col-sm-6 col-xs-12 from-left">
                        <img class="img-responsive" src="assets/images/features/screenshot-5.png" alt="" />
                    </div><!--//figure-->
                </div><!--//item-->               
            </div><!--//container-->
        </section>