<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @university.description %>
</p>

<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
