<!-- ******SIGNUP****** --> 
        <section id="signup" class="signup">
            <div class="container text-center">
                <h2 class="title">Ready to start learning?</h2>
                <p class="summary">Sign up to try SkillEd FREE for 30 days!</p>
                <form class="signup-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your email address">
                    </div>
                    <a class="btn btn-cta btn-cta-primary" href="users/sign_up">Sign Up</a>

                </form><!--//signup-form-->
            </div>
        </section><!--//signup-->

